/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    /* LOGIN/REGISTER FORMS */
    .log-reg {
        margin: auto;
        padding: 25px 5px;
    }

    .form-title {
        color: white;
        text-transform: uppercase;
        font-size: xx-large;
        padding: 15px;
    }

    .user-form {
        text-align: center;
        border-radius: 15px;
        padding: 5px;
        background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        )
    }

    .user-form label {
        color: white;
        display: block;
        text-transform: uppercase;
    }

    .user-form input {
        display: block;
        width: 75%;
        line-height: 35px;
        margin: 10px auto;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        text-align: center;
    }

    .user-form input:focus {
        border-color: red;
        outline-style: none;
        box-shadow: none;

    }

    .user-form button {
        background-color: #60191B;
        display: block;
        color: white;
        font-size: large;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
        width: 75%;
    }

    .user-form button:hover {
        background-color: red;
        cursor: pointer;
    }

    .form-warn {
        padding: 5px;
        color: red;
    }

    .form-menu span {
        color: white;
        text-transform: uppercase;
        padding: 5px;
        font-size: large;
        margin-top: 10px;
        display: block;
    }

    .form-menu svg {
        color: white;
        margin: 5px;
        font-size: x-large;
        margin-top: 10px;
    }


    .form-menu span:hover, .form-menu svg:hover {
        color: red;
        cursor: pointer;
    }
}

/* Smaller devices (320px and up) */
@media only screen and (min-width: 320px) {
    /* LOGIN/REGISTER FORMS */
    .log-reg {
        margin: auto;
        padding: 25px 5px;
    }

    .form-title {
        color: white;
        text-transform: uppercase;
        font-size: xx-large;
        padding: 15px;
    }

    .user-form {
        text-align: center;
        border-radius: 15px;
        padding: 5px;
        background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        )
    }

    .user-form label {
        color: white;
        display: block;
        text-transform: uppercase;
    }

    .user-form input {
        display: block;
        width: 75%;
        line-height: 35px;
        margin: 10px auto;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        text-align: center;
    }

    .user-form input:focus {
        border-color: red;
        outline-style: none;
        box-shadow: none;

    }

    .user-form button {
        background-color: #60191B;
        display: block;
        color: white;
        font-size: large;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
        width: 75%;
    }

    .user-form button:hover {
        background-color: red;
        cursor: pointer;
    }

    .form-warn {
        padding: 5px;
        color: red;
    }

    .form-menu span {
        color: white;
        text-transform: uppercase;
        padding: 5px;
        font-size: large;
        margin-top: 10px;
        display: block;
    }

    .form-menu svg {
        color: white;
        margin: 5px;
        font-size: x-large;
        margin-top: 10px;
    }


    .form-menu span:hover, .form-menu svg:hover {
        color: red;
        cursor: pointer;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .log-reg{
        padding: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .log-reg{
        padding: 50px 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .log-reg{
        padding: 50px 20%;
    }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .log-reg{
        padding: 50px 30%;
    }
}


