/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
    /* SHOP PAGE */
    .shop {
        position: absolute;
        top: 263px;
        bottom: 0;
        text-align: center;
        color: white;
        overflow-y: scroll;
        width: 100%;
    }

    .shop-menu {
        width: 80%;
        margin: auto;
        padding: 15px;
    }

    .shop-menu span {
        padding: 10px;
        font-size: large;
        text-transform: uppercase;
        display: block;
    }

    .shop-menu span:hover {
        color: #60191B;
        cursor: pointer;
    }


    .shop::-webkit-scrollbar {
        display: none;
    }

    .shop-content {
        padding: 15px;
        margin: auto;
    }

    .item {
        background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        );
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        border: white;
        border-style: solid;
        border-radius: 20px;
    }

    .item span {
        display: block;
        width: 100%;
        font-size: x-large;
        padding: 10px;
    }

    #car-shop-img {
        height: auto;
        width: 100%;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .item button {
        display: block;
        background-color: #60191B;
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px !important;
        border: none;
        border-radius: 20px;
        width: 150px;
        height: 50px;
        margin: auto;
    }

    .item button:hover {
        cursor: pointer;
        background-color: red;
    }

    .item-price {
        color: #60191B;
        font-weight: bold;
    }

    /* ITEM INFO */
    .item-info {
        background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        );
        width: 100%;
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }

    .item-title {
        font-size: x-large;
        display: block;
    }

    #item-img {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .item-info table {
        width: 100%;
    }

    .item-info table img {
        height: 25px
    }

    .item-info td {
        font-size: small;
        display: block;
    }

    .item-price {
        display: block;
        font-size: xx-large;
        padding: 15px;
    }

    .item-info button {
        background-color: #60191B;
        display: block;
        color: white;
        font-size: large;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
        width: 50%;
        margin-bottom: 10px;
    }

    .item-info button:hover {
        cursor: pointer;
        background-color: red;
    }
}

/* Smaller devices (320px and up) */
@media only screen and (min-width: 320px) {
    /* SHOP PAGE */
    .shop {
        position: absolute;
        top: 263px;
        bottom: 0;
        text-align: center;
        color: white;
        overflow-y: scroll;
        width: 100%;
    }

    .shop-menu {
        width: 80%;
        margin: auto;
        padding: 15px;
    }

    .shop-menu span {
        padding: 10px;
        font-size: large;
        text-transform: uppercase;
        display: block;
    }

    .shop-menu span:hover {
        color: #60191B;
        cursor: pointer;
    }


    .shop::-webkit-scrollbar {
        display: none;
    }

    .shop-content {
        padding: 15px;
        margin: auto;
    }

    .item {
        background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        );
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        border: white;
        border-style: solid;
        border-radius: 20px;
    }

    .item span {
        display: block;
        width: 100%;
        font-size: x-large;
        padding: 10px;
    }

    #car-shop-img {
        height: auto;
        width: 100%;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .item button {
        display: block;
        background-color: #60191B;
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px !important;
        border: none;
        border-radius: 20px;
        width: 150px;
        height: 50px;
        margin: auto;
    }

    .item button:hover {
        cursor: pointer;
        background-color: red;
    }

    .item-price {
        color: #60191B;
        font-weight: bold;
    }

    /* ITEM INFO */
    .item-info {
        background: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        );
        width: 100%;
        border-radius: 20px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }

    .item-title {
        font-size: x-large;
        display: block;
    }

    #item-img {
        height: auto;
        width: 100%;
        padding: 10px;
    }

    .item-info table {
        width: 100%;
    }

    .item-info table img {
        height: 25px
    }

    .item-info td {
        font-size: small;
        display: block;
    }

    .item-price {
        display: block;
        font-size: xx-large;
        padding: 15px;
    }

    .item-info button {
        background-color: #60191B;
        display: block;
        color: white;
        font-size: large;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 10px;
        width: 50%;
    }

    .item-info button:hover {
        cursor: pointer;
        background-color: red;
    }
}

@media only screen and (min-width: 480px) {
    .shop {
        top: 180px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .shop {
        top: 177px;
    }

    .shop-menu span {
        display: inline-block;
        font-size: x-large;
    }

    .item {
        width: 45%;
        margin: 10px 5px;
    }

    .item span {
        font-size: medium;
    }

    #car-shop-img {
        height: 100px;
        width: auto;
    }

    .item-info {
        width: 80%;
        margin: auto;
    }

    .item-info td {
        font-size: medium;
        display: table-cell;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .shop {
        top: 118px;
    }

    .item span {
        font-size: large;
    }

    #car-shop-img {
        height: 135px;
    }

    #item-img {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .item span {
        font-size: x-large;
    }

    #car-shop-img {
        height: 150px;
    }

    .item-info td {
        font-size: large;
    }
}

/* Large devices (laptops/desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .shop-menu span {
        padding: 20px;
    }

    .shop-content {
        width: 80%;
    }

    .item {
        width: 30%;
    }

    /* ITEM INFO */
    .item-info {
        width: 70%;
        padding: 15px;
    }

    #item-img {
        height: 300px;
        width: auto;
    }

    .item-info td {
        font-size: x-large;
    }
}


